# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env.local
.env.*.local

# IDEs
.idea/
.vscode/

# Render / Deployment
*.log
